# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
.next/
out/
build/
dist/
*.tsbuildinfo
next-env.d.ts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build.log
build_output.log

# Environment
.env
.env.local
.env.production
.env*.local

# Editor / OS
.DS_Store
.idea/
.vscode/
*.swp
Thumbs.db

# Misc
.turbo/
.vercel
*.pem
coverage/
